/* ----- Christophe ----- */
:root {
    --color-dark-900: #1f1f1f;
    --color-dark-800: #414141;
    --color-dark-300: #7a7a7a;
    --color-dark-200: #979797;
    --color-dark-100: #c9c9c9;
    --color-light: #fafafa;
    --color-link-normal: #800000;
    --fs-body: 1.0625rem;
    --fs-monospace: 0.9375rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: var(--fs-body);
    line-height: 1.4;
    background: var(--color-light);
    color: var(--color-dark-900);
    padding-top: 3rem;
    margin: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}

footer {
    padding: 2rem 0 4rem;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab';
    font-weight: 500;
    line-height: 1.1;
}

h1 small {
    font-size: 1rem;
    font-weight: 400;
    font-size: var(--fs-body);
}

code,
pre {
    font-family: 'Fira Code', Consolas, monospace;
    font-size: var(--fs-monospace);
    line-height: 1.2;
}

pre .extra {
    color: var(--color-dark-300);
}

a {
    color: var(--color-link-normal);
    text-decoration: none;
    transition: opacity 250ms ease-in-out;
}

a:hover {
    opacity: 0.75;
    transition: opacity 250ms ease-in-out;
}

strong {
    font-weight: 500;
}

/* menu */
.navbar {
    position: fixed;
    padding: 0.75rem 0;
    background-color: #ad1d28;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    top: 0;
    margin: 0 auto;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    margin-right: 1.5rem;
    opacity: 0.9;
    transition: opacity 250ms ease-in-out;
}

.navbar .logo:hover {
    opacity: 1;
}

.navbar ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    font-size: 1.0625rem;
    color: white;
    opacity: 0.85;
    text-decoration: none;
    display: inline-block;
    transition: opacity 250ms ease-in-out;
}

.navbar a:hover {
    opacity: 1;
    color: white;
}

.navbar .active {
    color: white;
    opacity: 1;
    font-weight: 500;
}
/* fin menu */

.console {
    background: var(--color-dark-900);
    color: var(--color-light);
    padding: 0.8rem 1rem;
    border-radius: 0.3125rem;
    white-space: nowrap;
    overflow-x: scroll;
}

.console .output {
    color: var(--color-dark-200);
    user-select: none;
}

.console .command-line::before {
    content: '> ';
    color: var(--color-dark-100);
}

.console .command-line-project::before {
    content: 'C:\\Users\\arpicode\\Desktop\\dream-team> ';
    color: var(--color-dark-100);
}

.parameter,
.keyword {
    white-space: nowrap;
}

@media screen and (min-width: 37.5rem) {
    .console {
        overflow-x: unset;
    }
}

@media screen and (min-width: 54.6875rem) {
    .container {
        width: 80ch;
    }
}
/* // Fin christophe */

/* ----- Luis ----- */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    columns: 2;
}
#contact div {
    margin: 0px 50px;
}
#message {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: rgb(19, 19, 19);
    color: white;
}
#contact h2 {
    font-size: 45px;
}
#contact p #message input {
    margin: 10px 10px;
    font-size: 35px;
}

/* ----- Florent ----- */

#home-container {
    max-width: 70rem;
    width: 80%;
    margin: auto;
}

#barefoot {
    background: url(../images/footer_bg.png) center no-repeat;
    background-size: contain;
    padding-top: -1px;
    text-align: center;
}

#barefoot a {
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 1.4rem;
    background-color: #e9d7dbd7;
    border-radius: 0 0 1.2rem 1.2rem;
    border: solid 1px #e9d7dbd7;
    padding: 2rem;
}

#barefoot a:hover {
    opacity: initial;
    background: #110304b7;
    border: solid 1px #110304b7;
    color: var(--color-light);
    text-shadow: 1px 1px 1px rgba(255, 93, 34, 0.8);
    transition: all 250ms ease-in-out;
}

header {
    background: url(../images/gitcode_bg.png) center no-repeat;
    background-size: contain;
    height: 640px;
    padding: 1px 0;
}

.motive {
    background: linear-gradient(to right, #fad52f91 0%, #c71f1fe3 100%);
    font-size: 1.4rem;
    width: 100%;
    display: flex;
    gap: 1.6rem;
    justify-content: space-evenly;
    margin: 0;
}

header .content {
    display: flex;
    margin: 130px auto auto;
    text-align: center;
    width: fit-content;
    min-height: 380px;
    color: var(--color-light);
    background-color: #110304b7;
    padding: 24px 60px;
    border-radius: 0.8rem;
}

.wrapper {
    margin: auto;
}

.content h1 {
    margin: 0 0 4.8rem;
    font-size: 3.6rem;
}

.content h2 {
    font-style: italic;
    font-size: 1.8rem;
    margin-top: 0;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(255, 93, 34, 0.8);
}

.motive h3:nth-child(-n+2) {
    color: var(--color-dark-900);
    text-shadow: 1px 2px 1px var(--color-light);
}

.motive h3:nth-child(n+3) {
    color: var(--color-light);
    text-shadow: 2px 2px 1px var(--color-dark-900);
}

em {
    font-size: larger;
    color: rgb(255, 93, 34);
    text-shadow: 1px 1px 1px rgba(250, 250, 250, 0.8);
}

@media screen and (max-width: 900px) {
    header .content {
        padding: 24px 48px;

    }
    
    .content h1 {
        font-size: 3.2rem;
    }

    .content h2 {
        font-size: 1.6rem;
    }

    .motive {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 600px) {
    header .content {
        padding: 24px 32px;

    }
    
    .content h1 {
        font-size: 2.8rem;
    }

    .content h2 {
        font-size: 1.4rem;
    }

    .motive {
        font-size: 0.9rem;
    }
}